---
# Copyright 2020 VEXXHOST, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: mysql.presslabs.org/v1alpha1
kind: MysqlCluster
metadata:
  name: {{ name }}
  namespace: openstack
  labels:
    {{ labels(name) | indent(4) }}
spec:
  replicas: 2
  secretName: {{ name }}-mysql
  {% if "mysqlConf" in spec %}
  mysqlConf:
    {{ spec.mysqlConf | to_yaml | indent(4) }}
  {% endif %}
  podSpec:
    affinity:
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchLabels:
              mysql.presslabs.org/cluster: {{ name }}
          topologyKey: kubernetes.io/hostname
    nodeSelector:
      node-role.kubernetes.io/master: ""
    tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/master
  {% if "volumeSpec" in spec %}
  volumeSpec:
    persistentVolumeClaim:
      accessModes:
      - ReadWriteOnce
      resources:
        requests:
          storage: {{ spec.size | default("10Gi", true) }}
  {% endif %}
