apiVersion: v1
kind: ConfigMap
metadata:
  name: uwsgi-default
  namespace: openstack
data:
  uwsgi.ini: |-
    [uwsgi]
    enable-threads = true
    workers = %(%k / 2)
    cheaper = 2
    cheaper-step = 1
    cheaper-initial = 2
    exit-on-reload = true
    die-on-term = true
    lazy-apps = true
    add-header = Connection: close
    buffer-size = 65535
    thunder-lock = true
    http-auto-chunked = true
    http-raw-body = true
    socket-timeout = 10
    need-app = true
    route-user-agent = ^kube-probe.* donotlog:
    log-x-forwarded-for = true
    master = true
    # NOTE(mnaser): https://github.com/getsentry/raven-python/issues/732#issuecomment-176854438
    ignore-sigpipe = true
    ignore-write-errors = true
    disable-write-exception = true
