apiVersion: v1
kind: ConfigMap
metadata:
  name: uwsgi-default
  namespace: openstack
data:
  uwsgi.ini: |-
    [uwsgi]
    enable-threads = true
    workers = %(%k * 1)
    exit-on-reload = true
    die-on-term = true
    lazy-apps = true
    add-header = Connection: close
    buffer-size = 65535
    thunder-lock = true
    http-auto-chunked = true
    http-raw-body = true
    socket-timeout = 10
    need-app = true
    route-user-agent = ^kube-probe.* donotlog:
    log-x-forwarded-for = true
    master = true
